@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Montserrat&family=Roboto&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Montserrat&family=Roboto&family=Rubik+Moonrocks&family=Underdog&display=swap');
.select2 span , .select2-results li{
    text-transform: capitalize;
}
.container_image{
    width: 250px;
    height: 250px;
    position: relative;
}
.container_image .img{
    width: 100%;
    height: 100%;
    background:#ecf0f1 url("") center / cover no-repeat;
}
.ellipsis{
    height: 90px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 10px;
}